!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						%h2<#{_member}
						%ul.user-list
							- users.each do |member|
								%li
									- if member.admin?
										%a{:href=>"#", :onClick=>"unprivilege_user(\"#{member.massr_id}\");"}
											%i.icon-star{:title => _unprivilege_user}
										%i.icon-remove.icon-white
									- elsif member.authorized?
										%a{:href=>"#", :onClick=>"privilege_user(\"#{member.massr_id}\");"}
											%i.icon-star.icon-white{:title => _privilege_user}
										%a{:href=>"#", :onClick=>"unauthorize_user(\"#{member.massr_id}\");"}
											%i.icon-remove{:title => _unauthorize_user}
									- elsif !member.authorized?
										%i.icon-star.icon-white
										%a{:href=>"#", :onClick=>"authorize_user(\"#{member.massr_id}\");"}
											%i.icon-ok{:title => _authorize_user}
									%img{:src => "#{member.twitter_icon_url}" ,:class => "massr_id", :alt=> "#{member.massr_id}"}
									= member.name
		!= haml :footer
