!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						%p
							ユーザ一覧
						- users.each do |member|
							%p{:class=>"inline"}
								%li
									%img{:src => "#{member.twitter_icon_url}" ,:class => "massr_id", :alt=> "#{member.massr_id}"}
									= member.name
									- if member.admin?
										%input{:type => "submit",:value => "Admin剥奪",:onClick=>"unprivilege_user(\"#{member.massr_id}\");"}
									- elsif member.authorized?
										%input{:type => "submit",:value => "Admin付与",:onClick=>"privilege_user(\"#{member.massr_id}\");"}
										%input{:type => "submit",:value => "認可取消",:onClick=>"unauthorize_user(\"#{member.massr_id}\");"}
									- elsif !member.authorized?
										%input{:type => "submit",:value => "認可",:onClick=>"authorize_user(\"#{member.massr_id}\");"}
		!= haml :footer
