!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		!= haml :header
		.container-fluid
			.row-fluid
				.span9
					.main
						%h2<#{_member}
						%ul.user-list.admin
							- users.each do |member|
								%li{:class => "#{member.admin? ? 'admin' : 'normal'} #{member.authorized? ? 'authorized' : 'unauthorized'}", :id => member.massr_id}
									%a.admin
										%i.icon-star{:title => _unprivilege_user}
									%a.normal
										%i.icon-star.icon-white{:title => _privilege_user}
									%a.authorized
										%i.icon-remove{:title => _unauthorize_user}
									%a.unauthorized
										%i.icon-ok{:title => _authorize_user}
									%img{:src => get_icon_url(member) ,:class => "massr-icon", :alt => member.massr_id}
									= member.name
									%a.delete
										%i.icon-trash{:title => _delete_user}
						%h2<Stats
						%p
							fileSize: 
							= stats(:storageSize).to_i.to_s.reverse.gsub(/\d\d\d/,',\\0').reverse.sub(/,$/, '')
							bytes
				.span3
					!= haml :sidebar
		!= haml :footer
