%p
	= entry.body
%p
	%a{:href => "/user/#{entry.user.massr_id}"}<
		%img{:SRC => "#{entry.user.twitter_icon_url}",:width => "45" ,:height => "45"}
	%a{:href => "/user/#{entry.user.massr_id}"}<#{entry.user.name}
	%a{:href => "/entry/#{entry._id}"}<#{entry.created_at.localtime}
	- if entry.user._id == session[:user]._id
		%a(href="#" onClick="del_entry('#{entry._id}');")
			%i.icon-trash
	- if (entry.likes.map{|like| like.user._id == session[:user]._id  }).include? true
		%p
			%input{:type => "image" ,:src=>"/img/wakaruwa.png", :value => "わからないわ" , :onClick=>"del_like('#{entry._id}');"}
	- else
		%form{:method => "POST", :action => "/entry/#{entry._id}/like"}
			%input{:type => "image" ,:src=>"/img/wakaranaiwa.png", :value => "わかるわ"}
	%form{:method => "POST", :action => "/entry"}
		%input{:type => "text", :name => "body"}
		%input{:type => "hidden", :name => "res_id", :value => "#{entry._id}" }
		%input{:type => "submit" , :value => "レスるわ"}
%p
	- unless entry.likes.size == 0
		わかるわ
		- entry.likes.each do |like|
			%a{:href => "/user/#{like.user.massr_id}"}<
				%img{:SRC => "#{like.user.twitter_icon_url}",:width => "20" ,:height => "20"}
