%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no"}
%meta{csrf_meta}
%meta{:name => "format-detection", :content => "telephone=no"}
%link{rel: "stylesheet", type: "text/css", href: "css/app.css"}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-114x114.png"}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-57x57.png", :sizes => "57x57"}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-72x72.png", :sizes => "72x72"}
%link{:rel => "apple-touch-icon", :href => "/img/apple-touch-icon-114x114.png", :sizes => "114x114"}
:css
	.statement-stamp .stamp-style{
		height:#{SETTINGS['setting']['stamp_size']}px !important;
		width:#{SETTINGS['setting']['stamp_size']}px !important;
	}
	.statement-stamp .stamp-style .stamp img{
		min-height:#{SETTINGS['setting']['stamp_size']}px !important;
	}
	.submit-stamp .stamp-style{
		height:#{SETTINGS['setting']['stamp_thumbnail_size']}px !important;
		width:#{SETTINGS['setting']['stamp_thumbnail_size']}px !important;
	}
	.submit-stamp .stamp-style .stamp img{
		min-height:#{SETTINGS['setting']['stamp_thumbnail_size']}px !important;
	}


