%header
	- if current_user
		.mfp-hide{:id => "stamps"}
			%input.search-query{:id => "search-tag-field", :type => "text", :name => "q", :placeholder => _search}
			.items
				- stamps.each do |stamp|
					.submit-stamp
						.stamp-style
							.stamp
								%img.item-stamp{src: "#{image_size_change(stamp['image_url'], SETTINGS['setting']['stamp_thumbnail_size'], true)}", id: stamp['id'], title: "#{stamp['tag']} #{stamp['popular']}", "data-stamp-tag": stamp['tag']}
	.navbar.navbar-static-top
		.navbar-inner
			.container
				%a.btn.btn-navbar.collapsed{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
					- if current_user
						%span.new-res-count.badge.badge-info.badge-total<#{current_user.res_ids.size > 0 ? current_user.res_ids.size : ''}
					%span.icon-bar
					%span.icon-bar
					%span.icon-bar
				%a.brand{:href => "/", :tabindex => "1"}<#{_site_name}
				- if current_user
					.nav-collapse
						%ul.nav
							%li.nav-vertical-margin
							%li
								%a{:href => "/user/#{current_user.massr_id}/res", :title => _res}<
									#new-res-size-side
										#{_res}
										%span.new-res-count.badge.badge-info<#{current_user.res_ids.size > 0 ? current_user.res_ids.size : ''}
							%li.dropdown
								%button.dropdown-toggle{"data-toggle" => "dropdown"}
									#{_photos}
									%b.caret
								%ul.dropdown-menu
									%li
										%a{:href => "/user/#{current_user.massr_id}/photos", :title => _user_photos(current_user.massr_id)}<#{_user_photos current_user.name}
									%li
										%a{:href => "/statement/photos", :title => _all_photos}<#{_all_photos}
									%li
										%a{:href => "/stamps", :title => _stamps}<#{_stamps}
							%li.dropdown
								%button.dropdown-toggle{"data-toggle" => "dropdown"}
									#{_like}
									%b.caret
								%ul.dropdown-menu
									%li
										%a{:href => "/user/#{current_user.massr_id}/liked", :title => _liked}<#{_liked}
									%li
										%a{:href => "/user/#{current_user.massr_id}/likes", :title => _likes}<#{_likes}
							%li.flat-menu
								%a{:href => "/user/#{current_user.massr_id}/photos", :title => _user_photos(current_user.massr_id)}<#{_user_photos current_user.name}
							%li.flat-menu
								%a{:href => "/statement/photos", :title => _all_photos}<#{_all_photos}
							%li.flat-menu
								%a{:href => "/stamps", :title => _stamps}<#{_stamps}
							%li.flat-menu
								%a{:href => "/user/#{current_user.massr_id}/liked", :title => _liked}<#{_liked}
							%li.flat-menu
								%a{:href => "/user/#{current_user.massr_id}/likes", :title => _likes}<#{_likes}
						%ul.nav.pull-right
							%li
								%form.navbar-search.pull-left{:id => "search-form", :method => "GET", :action => "/search"}
									.input-append
										%input.search-query{:id => "search-field", :type => "text", :name => "q", :placeholder => _search, :tabindex => "6", :value => "#{q rescue ''}"}
										%button.btn{:id => "search-button", :type => "submit", :tabindex => "7"}
											%i.icon-search
									%div.search-pins-dropdown#search-pin-dropdown
										- pins = Massr::SearchPin.all.reverse
										- if pins.length > 0
											- pins.each do |pin|
												%span.search-pin
													%a{href: "/search?q=#{pin.word.gsub(/#/, '%23').gsub(/\+/, '%2B')}", title: pin.word}<#{pin.label}
							%li.dropdown
								%button.dropdown-toggle{"data-toggle" => "dropdown"}
									#{_settings}
									%b.caret
								%ul.dropdown-menu
									%li
										%ul.user-list.sidebar-list
											%li
												%a{:href => "/user/#{current_user.massr_id}"}<
													%img{:SRC => "#{get_icon_url(current_user)}", :class => "massr-icon"}
													#{current_user.name}
													%span#me<#{current_user.massr_id}
									%li
										%a{:href => "/user", :title => _settings}<#{_settings}
									- if current_user.admin?
										%li
											%a{:href => "/admin", :title => _admin_menu}<#{_admin_menu}
									%li.divider
									%li
										%a{:href => "/logout", :title => _logout}<#{_logout}
							%li.flat-menu
								%ul.user-list.sidebar-list
									%li
										%a{:href => "/user/#{current_user.massr_id}"}<
											%img{:SRC => "#{get_icon_url(current_user)}", :class => "massr_id"}
											#{current_user.name}
											%span#me<#{current_user.massr_id}
							%li.flat-menu
								%a{:href => "/user", :title => _settings}<#{_settings}
							- if current_user.admin?
								%li.flat-menu
									%a{:href => "/admin", :title => _admin_menu}<#{_admin_menu}
							%li.divider.flat-menu
							%li.flat-menu
								%a{:href => "/logout", :title => _logout}<#{_logout}
