!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						- user = Massr::User.find_by_id(session[:user_id])
						- if user.status == 0
							- unauth_count = Massr::User.where(:status => 9).count
							- unless unauth_count == 0
								.info.alert-info
									%a{:href=>'/admin'}<#{_unauth_count(unauth_count)}
						.new-post
							%form{:method => "POST", :action => "/statement", :enctype => 'multipart/form-data'}
								%div
									%textarea{:type => "text", :name => "body"}
									%input{csrf_input}
								%div.button
									%input.btn.btn-small#submit-new{:type => "submit" , :value => _post}
									- if picasa_client
										#photo-items
											%input#photo-shadow{:type => "file", :name => "photo", :accept => 'image/*', :tabindex => '-1'}
											%a#photo-button{:href => '#'}
												%i.icon-camera#photo-button{:title => '写真を添付'}
											%span#photo-name
						!= haml :statements ,:locals => {:statements => statements,:q => q}
				.span3
					!= haml :sidebar ,:locals => {:q => q}
			!= haml :footer
