!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container
			!= haml :header
			%p
				#{session[:user].name} さん ようこそ！
				%a(href="logout" title="Logout")<Logout
				%a(href="user" title="setting")<Setting
			%p
				%form{:method => "POST", :action => '/entry'}
					%input{:type => "text", :name => "body"}
					%input{:type => "submit" , :value => "投稿にょわー☆"}
			%p
				- entries.each do |entry|
					%hr
					- if entry.res
						%p
							レス元＞
							= entry.res.user.name
							：
							= entry.res.body
					%p
						= entry.body
					%p
						= entry.user.name
						= entry.created_at
						%form{:method => "POST", :action => "/like/#{entry._id}"}
							%input{:type => "submit" , :value => "わかるわ"}
						%form{:method => "POST", :action => "/entry"}
							%input{:type => "text", :name => "body"}
							%input{:type => "hidden", :name => "res_id", :value => "#{entry._id}" }
							%input{:type => "submit" , :value => "レスるわ"}
					%p
						- unless entry.likes.size == 0
							わかるわ
							- entry.likes.each do |like|
								= like.user.name
			!= haml :footer
