!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						%p
							%form{:method => "POST", :action => "/entry"}
								%p
									%textarea{:type => "text", :name => "body"}
								%p
									%input{:type => "submit" , :value => "投稿にょわー☆"}
						!= haml :entries ,:locals => {:page=>page,:entries => entries}
				.span3
					!= haml :sidebar
			!= haml :footer
