!!!
%html
	%head
		%title
			-if defined?(q) && q
				Search "#{q}" / #{_site_name}
			- else
				#{_site_name}
		%link{rel: "stylesheet", type: "text/css", href: "/css/main.css"}
		!= haml :head
	%body
		.container-fluid
			.row-fluid
				.span9
					.main#main{'data-me' => current_user.massr_id}
				.span3
		!= haml :footer
		%script{src: "/js/main.js"}
