!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						- user = Massr::User.find_by_id(session[:user_id])
						- if user.status == 0
							- unauth_count = Massr::User.where(:status => 9).count
							- unless unauth_count == 0
								.info.alert-info
									%a{:href=>'/admin'}<#{_unauth_count(unauth_count)}
						.new-post
							%form{:method => "POST", :action => "/statement", :enctype => 'multipart/form-data'}
								%div
									%textarea{:type => "text", :name => "body"}
									%input{:type => "file", :name => "photo"}
									%input{csrf_input}
								%div.button
									%input.btn.btn-small{:type => "submit" , :value => _post}
						!= haml :statements ,:locals => {:page=>page,:statements => statements,:q => q,:total_page => total_page}
				.span3
					!= haml :sidebar ,:locals => {:q => q}
			!= haml :footer
