!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		!= haml :header
		.container
			.row-fluid
				.span8
					%p
						%img{:SRC => "#{session[:user].twitter_icon_url}",:width => "20" ,:height => "20"}
						#{session[:user].name} さん ようこそ！
					%p
						%form{:method => "POST", :action => "/entry"}
							%p
								%textarea{:type => "text", :name => "body"}
							%p
								%input{:type => "submit" , :value => "投稿にょわー☆"}
					!= haml :entries ,:locals => {:entries => entries}
				.span4
					!= haml :sidebar
		!= haml :footer
