!!!
%html
	%head
		%title<#{_site_name}
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						- user = Massr::User.find_by_id(session[:user_id])
						- get_icon_url(user)
						- if user.status == 0
							- unauth_count = Massr::User.where(:status => 9).count
							- unless unauth_count == 0
								.alert.alert-info
									%a{:href=>'/admin'}<#{_unauth_count(unauth_count)}
						- response_count = user.ress.size
						.alert.alert-info#new-res-size-main
							%a#new-res-notice-text{:href=>"/user/#{current_user.massr_id}/res"}<#{_response_count(response_count)}
							%a#new-res-notice-delete-button.close{:href => "#", :title => _clearres}<!&times;
						.new-post
							%form#form-new{:method => "POST", :action => "/statement", :enctype => 'multipart/form-data'}
								%div
									%textarea{:type => "text", :name => "body"}
									%input{csrf_input}
								%div.button
									%input.btn.btn-small#submit-new{:type => "submit" , :value => _post}
									- if picasa_client
										#photo-items
											%input#photo-shadow{:type => "file", :name => "photo", :accept => 'image/*', :tabindex => '-1'}
											%a#photo-button{:href => '#'}
												%i.icon-camera#photo-button{:title => _attach_photo}
											%span#photo-name
						!= haml :statements ,:locals => {:res_ids => nil , :statements => statements,:q => q}
				.span3
					!= haml :sidebar ,:locals => {:q => q}
			!= haml :footer
