!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container
			!= haml :header
			%p
				#{session[:user].name} さん ようこそ！
				%a(href="logout" title="Logout")<Logout
				%a(href="user" title="setting")<Setting
			%p
				%form{:method => "POST", :action => '/entry'}
					%input{:type => "text", :name => "body"}
					%input{:type => "submit" , :value => "投稿"}
			%p
				- entries.each do |entry|
					%p
						%table
							%tr
								%td
									= entry.user.name
								%td
									= entry.body
								%td
									= entry.created_at
								%td
									%form{:method => "POST", :action => "/like/#{entry._id}"}
										%input{:type => "submit" , :value => "わかるわ"}
							- unless entry.likes.size == 0
								%tr
									%td
										わかるわ：
									%td
										- entry.likes.each do |like|
											= like.user.name
			!= haml :footer
