!!!
%html
	%head
		%title
			-if defined?(q) && q
				Search "#{q}" / #{_site_name}
			- else
				#{_site_name}
		!= haml :head
	%body
		!= haml :header, locals: {q: q}
		.container-fluid
			- if defined?(q) && q
				.row-fluid
					.span9
						- exist_pin = Massr::SearchPin.find_by_word(q)
						Search "
						%span#query-string{title: q}<#{q.truncate}
						"
						%a.share-search#share-search{href: '#', class: exist_pin ? 'hide' : ''}
							%i.icon-share-alt.share-search{title: 'share search result'}
						%a.share-search#unshare-search{href: '#', class: exist_pin ? '' : 'hide'}
							%i.icon-remove.share-search{title: 'unshare search result'}
			.row-fluid
				.span9
					.main
						- user = Massr::User.find_by_id(session[:user_id])
						- get_icon_url(user)
						- if user.status == 0
							- unauth_count = Massr::User.where(:status => 9).count
							- unless unauth_count == 0
								.alert.alert-info
									%a{:href=>'/admin'}<#{_unauth_count(unauth_count)}
						!= haml :notify
						- response_count = user.ress.size
						.alert.alert-info#new-res-size-main
							%a#new-res-notice-text{:href=>"/user/#{current_user.massr_id}/res"}<#{_response_count(response_count)}
							%a#new-res-notice-delete-button.close{:href => "#", :title => _clearres}<!&times;
						.new-post
							%form#form-new{:method => "POST", :action => "/statement", :enctype => 'multipart/form-data'}
								%div
									%textarea#text-new{:type => "text", :name => "body", :tabindex => "2"}
									%input{csrf_input}
								%div.button
									%input.btn.btn-small.submit{:type => "submit" , :value => _post, :tabindex => "3"}
									- if picasa_client
										.photo-items
											%input.photo-shadow{:type => "file", :name => "photo", :accept => 'image/*', :tabindex => '-1'}
											%a.photo-button{:href => '#', :tabindex => "4"}
												%i.icon-camera.photo-button{:title => _attach_photo}
											%img.photo-preview
											%span.photo-name
						!= haml :statements ,:locals => {:res_ids => nil , :statements => statements,:q => q}
				.span3
					!= haml :sidebar ,:locals => {:q => q}
			!= haml :footer
