!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						- user = Massr::User.find_by_id(session[:user_id])
						- if user.status == 0
							- unauth_count = Massr::User.where(:status => 9).count
							- unless unauth_count == 0
								.info.alert-info
									%a{:href=>'/admin'}<未認証ユーザが#{unauth_count}人います
						.new-post
							%form{:method => "POST", :action => "/statement"}
								%div
									%textarea{:type => "text", :name => "body"}
								%div.button
									%input.btn.btn-small{:type => "submit" , :value => "投稿にょわー☆"}
						!= haml :statements ,:locals => {:page=>page,:statements => statements}
				.span3
					!= haml :sidebar
			!= haml :footer
