!!!
%html
	%head
		%title Massr - Mini Wassr
		!= haml :head
	%body
		!= haml :header
		.container
			.row-fluid
				.span8
					%p
						%form{:method => "POST", :action => "/entry"}
							%p
								%textarea{:type => "text", :name => "body"}
							%p
								%input{:type => "submit" , :value => "投稿にょわー☆"}
					!= haml :entries ,:locals => {:page=>page,:entries => entries}
				.span4
					!= haml :sidebar
		!= haml :footer
