%aside
	-if session[:user]
		%p
			%a{:href => "/user/#{session[:user].massr_id}"}<
				%img{:SRC => "#{session[:user].twitter_icon_url}",:class => "massr_id"}
				#{session[:user].name}
		%h2<メニュー
		%ul
			%li
				%a(href="/logout" title="Logout")<Logout
			%li
				%a(href="/user" title="setting")<Setting
			%li
				Search
				%form{:method => "POST", :action => "/search"}
					%p
						%input{:type => "text", :name => "search"}
					%p
						%input{:type => "submit" , :value => "みつけるわ"}
		%h2<メンバ
		- Massr::User.sort(:created_at.desc).each do |user|
			%p
				%img{:SRC => "#{user.twitter_icon_url}" ,:class => "massr_id"}
				= user.name
				= user.massr_id
				= user.created_at.localtime

