%aside
	.well.sidebar-nav
		-if current_user
			%ul.user-list.sidebar-list
				%li
					%a{:href => "/user/#{current_user.massr_id}"}<
						%img{:SRC => "#{current_user.twitter_icon_url}", :class => "massr_id"}
						#{current_user.name}
						%span#me<#{current_user.massr_id}
			%h2<#{_menu}
			%ul.sidebar-menu.sidebar-list
				%li
					%a{:href => "/user/#{current_user.massr_id}/res", :title => "Res"}<Res
				%li
					%a{:href => "/user/#{current_user.massr_id}/liked", :title => "Liked"}<Liked
				%li
					%a{:href => "/user/#{current_user.massr_id}/likes", :title => "Likes"}<Likes
				%li
					%a{:href => "/user", :title => "Setting"}<Setting
				- if current_user.admin?
					%li
						%a{:href => "/admin", :title => "Admin"}<Admin
				%li.isolate
					%a{:href => "/logout", :title => "Logout"}<Logout
				%li
					Search
					%form{:method => "GET", :action => "/search"}
						%div
							%input{:id => "search-field", :type => "text", :name => "q", :value => "#{q rescue ''}"}
						%div.search-button
							%input.btn{:id => "search-button", :type => "submit" , :value => _search}
			%h2<#{_member}
			%ul.user-list.sidebar-list
				- Massr::User.each_authorized_user_without(current_user) do |member|
					%li.user-list
						%a{:href => "/user/#{member.massr_id}"}<
							%img.massr-icon-mini{:src => "#{member.twitter_icon_url}" ,:class => "massr_id", :alt=> member.name, :title => member.name}
