%aside
	.well.sidebar-nav
		-if session[:user_id]
			- user = Massr::User.find_by_id(session[:user_id])
			%ul.user-list.sidebar-list
				%li
					%a{:href => "/user/#{user.massr_id}"}<
						%img{:SRC => "#{user.twitter_icon_url}", :class => "massr_id"}
						#{user.name}
			%h2<メニュー
			%ul.sidebar-menu.sidebar-list
				%li
					%a{:href => "/logout", :title => "Logout"}<Logout
				%li
					%a{:href => "/user", :title => "Setting"}<Setting
				- if user.admin?
					%li
						%a{:href => "/admin", :title => "Admin"}<Admin
				%li
					Search
					%form{:method => "GET", :action => "/search"}
						%div
							%input{:id => "search-field", :type => "text", :name => "q"}
						%div.search-button
							%input.btn{:id => "search-button", :type => "submit" , :value => "みつけるわ"}
			%h2<メンバ
			%ul.user-list.sidebar-list
				- Massr::User.where(:massr_id => {:$ne => user.massr_id}).sort(:updated_at.desc).each do |member|
					%li
						%a{:href => "/user/#{member.massr_id}"}<
							%img{:src => "#{member.twitter_icon_url}" ,:class => "massr_id", :alt=> "#{member.massr_id}"}
							= member.name

