.statement{:id => "st-#{statement._id}", :class => is_new ? 'statement-new' : ''}

	/ アイコン
	.statement-icon
		%a{:href => "/user/#{statement.user.massr_id}"}
			%img.massr-icon{:src => get_icon_url(statement.user)}

	%div{:class => "#{session[:user_id] == statement.user._id ? "statement-body-me statement-body" : "statement-body"}"}
		/ レスポンス元発言
		- if statement.res
			.statement-res-icon
				%a{:href => "/user/#{statement.res.user.massr_id}"}
					%img.massr-icon-mini{:src => get_icon_url(statement.res.user), :alt => statement.res.user.name, :title => statement.res.user.name}
			.statement-res
				%a{:href => "/statement/#{statement.res._id}"}
					&lt; #{statement.res.body}

		/ 発言本文
		.statement-message<
			- statement.body.gsub(/[\r\n]+/, "\r").each_line do |line|
				= line

		/ 画像表示
		.statement-photos
			- statement.photos.each do |photo|
				%a{:href => "#{photo}" ,:rel=>"lightbox"}<
					%img.statement-photo{:src => "#{photo}" , :alt => "#{statement._id}" , :title => "#{statement._id}"}

		/ 発言の付属情報
		.statement-info
			by
			%a{:href => "/user/#{statement.user.massr_id}"}<#{statement.user.name}
			at
			%a{:href => "/statement/#{statement._id}"}
				= statement.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')
			- statement.likes.delete_if{|like| !like.user}

		/ アクション
		.statement-action
			- if statement.user._id == session[:user_id]
				%a.trash{:href => "#"}
					%i.icon-trash{:title => _delete}
			%a.res{:href => '#'}
				%i.icon-comment{:title => _res}
				= statement.refs.size > 0 ? "(#{statement.refs.size})" : ''
			- like = statement.like?(current_user) ? 'unlike' : 'like'
			%a{:class => "like-button #{like}", :href => '#', :id => "like-#{statement._id}"}
				%img.unlike{:src => "/img/wakaruwa.png", :alt => _unlike, :title => _unlike}
				%img.like{:src => "/img/wakaranaiwa.png", :alt => _like, :title => _like}

		/ わかるわ一覧
		- unless statement.likes.size == 0
			.statement-like
				#{_like}:
				- statement.likes.each do |like|
					%a{:href => "/user/#{like.user.massr_id}"}
						%img.massr-icon-mini{:src => get_icon_url(like.user), :title => like.user.name, :alt => like.user.name}

		/ レスフォーム
		.response{:id=>"res-#{statement._id}"}
			%form{:method => "POST", :action => "/statement", :enctype => 'multipart/form-data', :class=>"res-form"}
				%div
					%textarea{:type => "text", :name => "body"}
					%input{:type => "hidden", :name => "res_id", :value => statement._id}
					%input{csrf_input}
				%div.button
					%button.btn.btn-small.submit{:type => "submit"}<#{_post_res}
					- if picasa_client
						.photo-items
							%input.photo-shadow{:type => "file", :name => "photo", :accept => 'image/*', :tabindex => '-1'}
							%a.photo-button{:href => '#'}
								%i.icon-camera.photo-button{:title => _attach_photo}
							%img.photo-preview
							%span.photo-name
