#statements
	- statements.each do |statement|
		!= haml :statement , :locals => {:statement => statement}
.pagenation
	- if page.to_i > 1
		%a{:href => "#{request.path_info}#{page_query_param(page.to_i-1, q)}"}<prev
	- if total_page > page.to_i
		%a{:href => "#{request.path_info}#{page_query_param(page.to_i+1, q)}"}<next

