#statements
	- statements.each do |statement|
		!= haml :statement , :locals => {:statement => statement}
.pagenation
	- if request.path_info == '/'
		%input.btn.btn-large{:id => 'autopager', :type => "button" , :value => "next" , :path => "#{request.path_info}index.json", :query => "#{q}" ,:page => "#{page.to_i+1}"}
	- else
		%input.btn.btn-large{:id => 'autopager', :type => "button" , :value => "next" , :path => "#{request.path_info}.json", :query => "#{q}" ,:page => "#{page.to_i+1}"}

