%p
	- statements.each do |statement|
		!= haml :statement , :locals => {:statement => statement}
%p
	- if page.to_i > 1
		%a{:href => "#{request.path_info}?page=#{page.to_i-1}"}<prev
	%a{:href => "#{request.path_info}?page=#{page.to_i+1}"}<next

