.statement{:id => "st#{statement._id}"}

	/ アイコン
	.statement-icon
		%a{:href => "/user/#{statement.user.massr_id}"}
			%img.massr-icon{:src => statement.user.twitter_icon_url}

	%div{:class => "#{session[:user_id] == statement.user._id ? "statement-body-me statement-body" : "statement-body"}"}
		/ レスポンス元発言
		- if statement.res
			.statement-res
				%a{:href => "/statement/#{statement.res._id}"}
					> #{statement.res.body} by #{statement.res.user.name}

		/ 発言本文
		.statement-message<#{statement.body}

		/ 発言の付属情報
		.statement-info
			by
			%a{:href => "/user/#{statement.user.massr_id}"}<#{statement.user.name}
			at
			%a{:href => "/statement/#{statement._id}"}
				= statement.created_at.localtime.strftime('%Y-%m-%d %H:%M:%S')
			- statement.likes.delete_if{|like| !like.user}

		/ アクション
		.statement-action
			- if statement.user._id == session[:user_id]
				%a{:href => "#", :onClick => "del_statement('#{statement._id}');"}
					%i.icon-trash{:title => '削除'}
			%a{:href => '#', :onClick => "toggle_response('#{statement._id}');"}
				%i.icon-comment{:title => 'レス'}
			- if (statement.likes.map{|like| like.user._id == session[:user_id]  }).include? true
				%input{:type => "image",:src => "/img/wakaruwa.png", :value => "わからないわ", :onClick=>"del_like('#{statement._id}');"}
			- else
				%form.statement-action{:method => "POST", :action => "/statement/#{statement._id}/like"}
					%input{:type => "image", :src=>"/img/wakaranaiwa.png", :value => "わかるわ"}

		/ わかるわ一覧
		- unless statement.likes.size == 0
			.statement-like
				わかるわ:
				- statement.likes.each do |like|
					%a{:href => "/user/#{like.user.massr_id}"}
						%img.massr-icon-mini{:src => like.user.twitter_icon_url, :title => like.user.name, :alt => like.user.name}

		/ レスフォーム
		.response{:id=>"res#{statement._id}"}
			%form{:method => "POST", :action => "/statement"}
				%textarea{:type => "text", :name => "body"}
				%input{:type => "hidden", :name => "res_id", :value => statement._id}
				%input.btn{:type => "submit" , :value => "レスるわ"}
