#statements
	- statements.each do |statement|
		- if res_ids && res_ids.include?(statement._id)
			.statement-new
				!= haml :statement , :locals => {:statement => statement}
		- else
			!= haml :statement , :locals => {:statement => statement}
.pagenation
	%input.btn.btn-large{:id => 'subjoinpage', :type => "button" , :value => "next" , :path => "#{request.path_info}#{request.path_info == '/' ? 'index' : ''}.json", :query => "#{q}"}
	%img{:id => 'subjoinpage-loading', :src => '/img/masao_loading.gif', :alt => 'Loading...'}

