!!!
%html
	%head
		%title Massr - User Entries
		!= haml :head
	%body
		!= haml :header
		.container
			.row-fluid
				.span8
					!= haml :entries ,:locals => {:entries => entries}
				.span4
					!= haml :sidebar
		!= haml :footer
