!!!
%html
	%head
		%title Massr - Entry
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						%p
							!= haml :entry_head ,:locals => {:entry => entry}
							!= haml :entry_body ,:locals => {:entry => entry}
							!= haml :entry_foot ,:locals => {:entry => entry}
				.span3
					!= haml :sidebar
			!= haml :footer
