!!!
%html
	%head
		%title Massr - Statement
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						%p
							!= haml :statement_head ,:locals => {:statement => statement}
							!= haml :statement_body ,:locals => {:statement => statement}
							!= haml :statement_foot ,:locals => {:statement => statement}
				.span3
					!= haml :sidebar
			!= haml :footer
