!!!
%html
	%head  
		%title Massr - Mini Wassr - User Registration.
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						%p
							=session[:errors]
						- if update
							.info.alert-info
								#{_user_info_update}
						%h2<#{_basic_setting}
						%form.profile{:method => "POST", :action => '/user'}
							%input{csrf_input}
							- user = Massr::User.find_by_id(session[:user_id]) if session[:user_id]
							%table
								%tr
									- if user
										%td.icon{:colspan => 2}
											%img{:src => get_icon_url(user), :alt => user.twitter_id}
									- else
										%td.nowrap<Twitter ID
										%td.twitter
											=session[:twitter_id]
								%tr
									%td.nowrap<Massr ID
									%td
										%input{:type => "text", :name => "massr_id", :value => user ? user.massr_id : session[:twitter_id]}
									%td
								%tr
									%td.nowrap<#{_display_name}
									%td
										%input{:type => "text", :name => "name" ,:value => user ? user.name : session[:twitter_name]}
								%tr
									%td.nowrap<E-Mail
									%td
										%input{:type => "text", :name => "email" , :value => user ? user.email : ''}
								%tr
									%td.button{:colspan => 2}
										- if user
											%input.btn.btn-large{:type => "submit" , :value => _save}
										- else
											%input.btn.btn-primary.btn-large{:type => "submit" , :value => _registration}
						%hr
						%h2<#{_local_setting}
						%table
							%tr
								%td
									%label
										%input{type: 'checkbox', id: 'popup-notification'}
										#{_desktop_notice}
				.span3
					- if user
						!= haml :sidebar
			!= haml :footer
