!!!
%html
	%head
		%title Massr - User Photos
		!= haml :head
	%body
		!= haml :header
		.container-fluid
			.row-fluid
				.span9
					.main
						!= haml :photos ,:locals => {:statements => statements, :q => q, :pagenation => pagenation}
				.span3
					!= haml :sidebar
			!= haml :footer
