!!!
%html
	%head
		%title Massr - Statement
		!= haml :head
	%body
		!= haml :header
		.container-fluid
			.row-fluid
				.span9
					.main
						%p
							!= haml :statement, :locals => {:statement => statement, :is_new => false}
							!= haml :responses, :locals => {:statement => statement}
				.span3
					!= haml :sidebar
			!= haml :footer
