!!!
%html
	%head
		%title Massr - User Statements
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						!= haml :statements ,:locals => {:res_ids => res_ids , :statements => statements, :q => q}
				.span3
					!= haml :sidebar
			!= haml :footer
