!!!
%html
	%head
		%title Massr - User Entries
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						!= haml :entries ,:locals => {:page=>page,:entries => entries}
				.span3
					!= haml :sidebar
			!= haml :footer
