!!!
%html
	%head  
		%title Massr - Mini Wassr - User List.
		!= haml :head
	%body
		.container
			!= haml :header
			.row-fluid
				.span8
					%p
						=session[:errors]
					%p
						- users.each do |user|
							%img{:SRC => "#{user.twitter_icon_url}" ,:width => "45" ,:height => "45"}
							= user.name
							= user.wassr_id
				.span4
					%aside
						サイドバー
			!= haml :footer
