!!!
%html
	%head
		%title Massr - Mini Wassr - User Registration.
		!= haml :head
	%body
		.container-fluid
			!= haml :header
			.row-fluid
				.span9
					.main
						%p
							=session[:errors]
						- if update
							.info.alert-info
								#{_user_info_update}
						%h2<#{_basic_setting}
						%form.form-horizontal{:method => "POST", :action => '/user'}
							%input{csrf_input}
							- user = Massr::User.find_by_id(session[:user_id]) if session[:user_id]
							.control-group
								.control-label
									- if user
										#{_icon}
									- else
										Twitter ID
								.controls
									- if user
										%img{:src => get_icon_url(user), :alt => user.twitter_id}
									- else
										=session[:twitter_id]
							.control-group
								%label.control-label{:for => 'input-massr_id'}<Massr ID
								.controls
									%input{:type => "text", :id => "input-massr_id", :name => "massr_id", :value => user ? user.massr_id : session[:twitter_id]}
							.control-group
								%label.control-label{:for => 'input-name'}<#{_display_name}
								.controls
									%input{:type => "text", :id => 'input-name', :name => "name" ,:value => user ? user.name : session[:twitter_name]}
							.control-group
								%label.control-label{:for => 'input-email'}<E-mail
								.controls
									%input{:type => "text", :id => 'input-email', :name => "email" , :value => user ? user.email : ''}
							.control-group
								.controls
									- if user
										%button.btn.btn-large{:type => "submit"}<#{_save}
										%button.btn.btn-large{:type => "button", :id => "user_delete"}<#{_delete}
									- else
										%button.btn.btn-primary.btn-large{:type => "submit"}<#{_registration}
										%button.btn.btn-large{:type => "button", :id => "user_cancel"}<#{_cancel}
						%hr
						%h2<#{_local_setting}
						%form.form-horizontal
							.control-group
								.controls
									%label.checkbox
										%input{type: 'checkbox', id: 'popup-notification'}
										#{_desktop_notice}
				.span3
					- if user
						!= haml :sidebar
			!= haml :footer
